#active-section{
    height: fit-content;
    /* background-color: aqua; */
    border-bottom: 1px #383a3f3a solid;
    display: flex;
    border-top: 1px #383a3f3a solid;
}
#active-section p{
    margin: 5px;
}
#active-pictures{
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}